{
  "swagger": "2.0",
  "info": {
    "title": "STRV-Go",
    "description": "This document was generated from the branch main.\n\nIf you are a contributor to this project, you may access it here: https://paw.cloud/account/teams/7902071/projects/256951",
    "version": "v0.5.0",
    "contact": {
      "name": "marhanmichal",
      "url": "https://paw.cloud/account/teams/7902071"
    }
  },
  "host": "strv.mb.marstad.cz",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "paths": {
    "/newsletters": {
      "post": {
        "summary": "Create newsletter",
        "description": "Creates a new newsletter, that can be then used to create issues and register subscribers.\n\nYou need to be signed in.",
        "operationId": "24462e1f-8cc5-43e8-a7c6-d5f231ff839b",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"name\":\"Muj druhy newsletter\",\"description\":\"Tohle budou novinky ze sveta Javascriptu.\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "get": {
        "summary": "List newsletters",
        "description": "Lists all your newsletters.\n\nYou need to be signed in.",
        "operationId": "493e0941-d1f6-4c11-9cbe-6743591fbbb4",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/newsletters/efa09ffa-43e0-4c75-ab84-1933255dd3ed": {
      "put": {
        "summary": "Rename newsletter",
        "description": "Renames a newsletter to your new desired name.\n\nYou need to be signed in.",
        "operationId": "b6d35e89-0bdc-4d0e-9e80-1f6f3661df6d",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"name\":\"Muj druhy newsletter\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/newsletters/56645e34-2570-4735-84c8-e797fe3b0707": {
      "delete": {
        "summary": "Delete newsletter",
        "description": "Deletes a newsletter from database.\n\nEditor needs to be an owner of the newsletter.\nYou need to be signed in.",
        "operationId": "56a636c9-98f5-4272-9d7f-56c3f5db601c",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/logout": {
      "get": {
        "summary": "Logout",
        "description": "Clears the login token",
        "operationId": "8e0ae9eb-012e-4f73-8e40-672ec6503861",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/resetpassword": {
      "get": {
        "summary": "Request Reset Password",
        "description": "",
        "operationId": "f5a7aeca-9a9f-4ede-a9b4-79281126e98d",
        "parameters": [
          {
            "type": "string",
            "default": "test@gmail.com",
            "name": "email",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "post": {
        "summary": "Reset Password",
        "description": "",
        "operationId": "99bf4744-40b4-456b-b386-ea99cbf37d8e",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "test@gmail.com",
            "name": "email",
            "required": false,
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"token\":\"eyJhbGciOiJIUzI1NiIsInR5\",\"new_password\":\"megaheslo\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "Login",
        "description": "Gets a JWT token and saves it into a cookies:\n\"editor\" and \"token\".",
        "operationId": "3cc9424c-c66c-479b-8716-3cc58d761a1d",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"email\":\"test@gmail.com\",\"password\":\"megaheslo\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/signup": {
      "post": {
        "summary": "Signup",
        "description": "Registers a new editor. ",
        "operationId": "e9e7a5e0-98d4-4e4c-b193-8eb963ccdf2c",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"email\":\"test@gmail.com\",\"password\":\"megaheslo\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/issues": {
      "post": {
        "summary": "Publish Issue",
        "description": "",
        "operationId": "66637a2d-1138-4c32-8831-971ea1c1293b",
        "consumes": [
          "text/plain"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "3ee18ccf-7ccd-4a93-8095-3ccb23da97a5",
            "name": "newsletter_id",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "Alza.CZ",
            "name": "name",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "Květnové slevy",
            "name": "subject",
            "required": false,
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "#Muj newsletter\n## Nadpis 2\nToto je test markdownu"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "get": {
        "summary": "List Issues",
        "description": "Lists the issues created by editor and given newsletter. \n\nNeeds to be logged in.\n",
        "operationId": "9486cc4d-7c60-41f8-a137-b93657b8c2ac",
        "parameters": [
          {
            "type": "string",
            "default": "3ee18ccf-7ccd-4a93-8095-3ccb23da97a5",
            "name": "newsletter_id",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/issues/3ee18ccf-7ccd-4a93-8095-3ccb23da97a5/Alza.CZ": {
      "get": {
        "summary": "Get Issue",
        "description": "Returns Issue ID. \n\nNeeds to be logged in.\n",
        "operationId": "471d04c8-101e-4729-9361-1abf0425c98a",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List Subscriptions",
        "description": "Gets all subscriptions.\n\nYou need to be logged in.",
        "operationId": "499df924-cee7-43a6-abc1-62e49db90889",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/subscriptions/3ee18ccf-7ccd-4a93-8095-3ccb23da97a5/test@gmail.com": {
      "get": {
        "summary": "Get Subscription ID",
        "description": "Gets a subscription ID. \n\nThat can be used to generate a unsubscribe URL when user calls and complains. For cases where he has disability to click on unsubscribe link in delivered email.",
        "operationId": "3701ef24-8bb3-472b-b8a5-19bcd4d95279",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/subscriptions/subscribe/3ee18ccf-7ccd-4a93-8095-3ccb23da97a5": {
      "post": {
        "summary": "Subscribe",
        "description": "",
        "operationId": "183bc4cd-e498-47e1-94ba-3f63350e5450",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": false,
            "schema": {
              "type": "string",
              "default": "{\"email\":\"test@gmail.com\",\"newsletter_id\":\"3ee18ccf-7ccd-4a93-8095-3ccb23da97a5\"}"
            },
            "in": "body",
            "name": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/subscriptions/unsubscribe/51e8661b-0a65-4fcc-82b8-d2381de0f1ee": {
      "get": {
        "summary": "Unsubscribe",
        "description": "Get parameter is used so the user can easily subscribe from email. \n\nPath takes Subscription ID.",
        "operationId": "02c8ec8f-0272-498a-b0ee-c183d43a34bf",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    }
  },
  "tags": []
}